<% articles.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length: 280) %>
        </div>
        <div class="article-actions">
          <% if article.categories.any? %>
            <p>Categorias: <%= render article.categories %></p>
          <% end %>
          <% if logged_in? && current_user == article.user %>
            <%= link_to "Editar esse artigo", edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Deletar esse artigo", article_path(article), method: :delete,
            data: {confirm: "Certeza que deseja deletar?"}, 
            class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <!-- #ordenação 
  <%= form_tag articles_path, method: :get do %>
    Ordenar por:
    <%= select_tag :order,  options_for_select([:id, :autor, :updated_at], selected: :autor), id: "different_option_value_html", onchange: "this.form.submit();"%>
    <%= submit_tag 'Ordenar', :id => 'submit_button' %>
  <% end %> -->