<p id="notice"><%= notice %></p>

<h1 class="center" style="color:#6441a5">Listando todos os artigos</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'index', articles: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
<br>

<%= link_to 'Página inicial', root_path %>  |  
<%= link_to 'New Article', new_article_path %>
